
div.mainArea{
    width: 100%;
    height: 100%;
    display: flex;
}


html{
    height: 100%;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

div.stickyNotes {
    width: 100%;
    min-height: 100px;
    background-color: aquamarine;
    float: left;
    margin-bottom: 10px;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 2px; 
    background-image: url(../img/noteBackground.png);
    background-size: contain;    
    background-repeat:no-repeat;
    background-position:center bottom;   
    font-family: calibri,arial,sans-serif;;
    font-size: 25px;
    font-style: italic;
    z-index: 1;
}

div.column {
    
    float: left;
    padding: 10px;
    flex:1;
    z-index: 1;
}

div.addButton{
    position: fixed;
    bottom: 5%;
    left: 50px;
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-radius: 26px;
    border-color: #616060;
    background-color: white;
    background-image: url(../img/plus32.png);    
    background-repeat:no-repeat;
    background-position:center center;   
    z-index: 2;  
}

div.addButton:hover{
    border-color: #616060;
    background-color: #f1efef;
    background-image: url(../img/plus32.png);    
    background-repeat:no-repeat;
    background-position:center center;     
}

div.stickyNoteNavBar{
    width: 100%;
    height: 36px;
    background-color: #00000096;
    z-index: 1;
}

div.noteText{
    margin: 10px;
    z-index: 1;
}

div.stickyNoteNavBarEdit{
    float:right;
    width: 36px;
    height: 36px;
    background-repeat:no-repeat;
    background-position:center center;  
    background-image: url(../img/edit.png); 
    z-index: 1;
}
div.stickyNoteNavBarEdit:hover{
    background-color: black
}

div.stickyNoteNavBarDelete{
    float:right;
    width: 36px;
    height: 36px;
    background-repeat:no-repeat;
    background-position:center center;  
    background-image: url(../img/remove.png); 
    z-index: 1;
}

div.stickyNoteNavBarDelete:hover{
    background-color: black
}

div.overlay{
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #80808080;
    position: fixed;
    top: 0px;
    display: none;
    text-align: center;
}

div.overlayMessageBox {
    background-color: white;
    border-color: rgb(94, 158, 214);
    border-style: solid;
    border-radius: 5px;
    position: fixed;
    text-align: center;
    top: 30px;
}

textarea.overlayMessageBoxText {
    width: 90%;
    margin: 15px 0px;
    font-family: calibri,arial,sans-serif;;
    font-size: 25px;
    font-style: italic;
    border-style: none;
    background-color: rgba(211, 211, 211, 0.56);
    overflow: auto;
    min-height: 300px;
    resize: vertical;
}

button.overlayMessageBoxButton{
    margin-bottom: 15px;
}

div.overlayMessageBoxColor{
    width: 90%;
    margin: 15px 0px 0px 0px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    height: 36px;
    left: 5%;
    position: relative;
    overflow: hidden;
    visibility: hidden;
}

div.overlayMessageBoxColorPicker {
    width: 32px;
    height: 32px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    float: left;
    margin-right: 25px;
    margin-bottom: 1px;
    margin-top: 1px;
}

div.overlayMessageBoxColorPicker:hover {
    border-width: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -1px;
    margin-right: 24px;
}

div.overlayMessageBoxColorPickerSelected {
    width: 32px;
    height: 32px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -1px;
    margin-right: 24px;
}
